@import url("~bootstrap/dist/css/bootstrap.min.css");

@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.App {
  background-image: url("https://wallpapercave.com/wp/wp2128229.jpg");
  height: 100vh;
  font-family: "Itim", cursive;
  background-size: cover;
}

@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.gor {
  color: darkblue;
}

.sahil {
  margin-top: -20px;
}

.manan {
  margin-top: -50px;
}
