

@import url("~bootstrap/dist/css/bootstrap.min.css");


.App{
    background-image: url("https://wallpapercave.com/wp/wp6959488.png");
    height: 100vh;

    background-size: cover;
}

@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }